{{>not-admin-header}}
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
<div class="card_viwe">
  <div id="card">
    <h2 id="title">{{blog.title}}</h2>
    <img src="{{blog.img_url}}" />
    <p id="post_content">
      {{blog.contents}}
    </p>
    <h6></h6>
    <div class='buttons'>
      <a class='btn delete-btn' href="/blogs/{{blog.id}}/delete"><i class='fa fa-trash'></i> Delete</a>
      <a class='btn edit-btn' href="/blogs/{{blog.id}}/edit"><i class='fa fa-edit'></i> Edit</a>
    </div>
  </div>
</div>

{{>footer}}
